@mixin display($display: flex, $flex-direction: row column, $justify-content: center space-between, $align-items: center) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}