@use './app/shared/styles/fonts.scss' as*;
@use './app/shared/styles/mixins.scss' as*;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    scroll-behavior: smooth;
    background-color: $darkgrey-background;
}

a {
    text-decoration: none;
}

.title {
    font-size: 88px;
    font-weight: bold;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}